@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

/* spinner  */
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* home page => section 1  */
.codeblock1 {
  width: 372.95px;
  height: 257.05px;
  border-radius: 100%;
  left: calc(50% - 372.95px / 2 - 76.53px);
  top: calc(50% - 257.05px / 2 - 47.47px);
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    #ffa500 59.04%,
    #f8f8ff 124.53%
  );
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
}

/* home page => section 1  */
.code-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(#ffffff38, #ffffff00);
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
}

/* home pg bg (section 2) */
.homepage_bg {
  background: url("../src/assets/images/bghome.svg");
}

/* form input style  */
.input-style {
  padding: 0.75rem; /* p-3 */
  font-weight: 500; /* font-medium */
  border-radius: 8px; /* rounded-[8px] */
  background-color: #2c333f; /* bg-richblack-800 */
  color: #f1f2ff; /* text-richblack-5 */
  width: 100%; /* w-full */
  outline: none; /* outline-none */
  border: 1px solid #2c333f; /* border border-richblack-700 */
}

/* form label style  */
.lable-style {
  font-size: 14px; /* text-[14px] */
  color: #f1f2ff; /* text-richblack-5 */
}

/* using to remove up and down arrows in input type="number"  */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
